doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Active User
    style.
      body {
        font-family: sans-serif;
      }
      .title {
        text-align: center;
        background-color: #233B54;
        color: white;
        padding: 5px;
      }
      .card {
        border-radius: 5px;
        border: 1px solid #233B54;
        height: auto;
        width: auto;
      }
      .card-title {
        padding: 15px;
        font-size: 24px;
        color: #233B54;
      }
      .card-body {
        padding: 15px;
        font-style: italic;
        font-size: 18px;
      }
      .card-button {
        padding: 10px;
        background-color: white;
        border: 1px solid #233B54;
        border-radius: 5px;
        text-decoration: none;
      }
      .card-footer {
        padding: 15px;
        display: flex;
        justify-content: center;
      }
  body
    .container
      .title
        h1 Active User (Pokemon Api)
      .card
        .card-title
          | Please active your user
        .card-body
          p
            | #{ context.message }
        .card-footer
          a(href=`${ context.url }`, target='_blank').card-button  Go to Application 
